doctype html
html(lang="en")
    include ./inc/cordovaLicense.jade
    head
        include ./inc/cordovaHead.jade
        include ./inc/header.jade
        title Webpack + Typescript + Three.js 1
        meta(charset='utf-8')
    head
        body
            div(id="wrapper")
                include ./inc/startOverlay.jade
                include ./inc/loadingOverlay.jade
                include ./inc/settingsOverlay.jade
                include ./inc/playScreenOverlay.jade
